
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #253a49;
}

h1 {

  text-align: center;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: center;
}

.centraltext {
  width:70%;
  height:50vh;
  margin: auto;
  margin-top: 25vh;
}

.topleft {
  position:absolute;
  top:0;
  left:0;
  width: 40%;
  z-index: -1;
}

.bottomright {
  position:absolute;
  bottom:0;
  right:0;
  width: 35%;
  z-index: -1;
}

.logo {
  width:80%;
  margin: auto;
  margin-bottom: 40px;
}

.ghost-button {
    margin-top:auto;
    color: #fff;
    border: 1px solid #fff;
    font-size: 30px;
    padding: 7px 12px;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.ghost-button:hover, .ghost-button:active {
  color:#fff;
  background:#009688;
}

.centralbuttons {

}

@media (max-width: 768px) {
    
    h2 {
      font-size: 14px;
    }

    .centraltext {
      width:100%;
      height:90vh;
      margin-top: 15vh;
    }

    .topleft {
      width: 50%;
    }

    .bottomright {

      width: 60%;
    }

    .ghost-button {
    margin-top:auto;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    }

    .ghost-button:hover, .ghost-button:active {
      color:#fff;
      background:#146859;
    }
}